/* package listing */

main#package .multi-fields details {
    cursor: pointer;
}

main#package .multi-fields details summary {
    border: 1px solid #cbcbcb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    padding: 0.5em 1em;
    background-color: #e0e0e0;
    margin-bottom: 2em;
}

main#package .multi-fields details[open] summary {
    margin-bottom: 0px;
}

main#package .multi-fields ul {
    border: 1px solid #cbcbcb;
    border-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 2em;
}

main#package .multi-fields ul > li:nth-of-type(odd) {
    background-color: #f2f2f2;
}

