{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block vtitle %}{{ title }}{% endblock %}

{% block content %}
<main id="content">

<table id="package">
    <tr>
        <th class="header">Package</th>
        <td>{{ pkg.name }}</td>
    </tr>
    <tr>
        <th class="header">Version</th>
        <td>{{ pkg.version }}</td>
    </tr>
    <tr>
        <th class="header">Description</th>
        <td>{{ pkg.description }}</td>
    </tr>
    <tr>
        <th class="header">Project</th>
        <td><a href="{{ pkg.url }}">{{ pkg.url }}</a></td>
    </tr>
    <tr>
        <th class="header">License</th>
        <td>{{ pkg.license }}</td>
    </tr>
    {% if show_branch %}
    <tr>
        <th class="header">Branch</th>
        <td>{{ branch }}</td>
    </tr>
    {% endif %}
    <tr>
        <th class="header">Repository</th>
        <td>{{ pkg.repo }}</td>
    </tr>
    <tr>
        <th class="header">Architecture</th>
        <td>{{ pkg.arch }}</td>
    </tr>
    <tr>
        <th class="header">Size</th>
        <td>{{ pkg.size }}</td>
    </tr>
    <tr>
        <th class="header">Installed size</th>
        <td>{{ pkg.installed_size }}</td>
    </tr>
    <tr>
        <th class="header">Origin</th>
        <td>
            <a href="{{ url_for('package', repo=pkg.repo, branch=branch, arch=pkg.arch, name=pkg.origin) }}">
                {{ pkg.origin }}
            </a></td>
    </tr>
    {% if depends %}
        <tr>
            <th class="header">Depends</th>
            <td>
                <details>
                <summary>Depends ({{ num_depends }})</summary>
                <ul class="compact">
                    {% for dep in depends %}
                        <li>
                            {% if dep.repo %}
                                <a href="{{ url_for('package', branch=branch, repo=dep.repo, arch=dep.arch, name=dep.target) }}">
                                    {{ dep.name }}
                                </a>
                            {% else %}
                                <span>
                                {{ dep.name }} [ext]
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                </details>
            </td>
        </tr>
    {% endif %}
    {% if required_by %}
        <tr>
            <th class="header">Required by</th>
            <td>
                <details>
                <summary>Required by ({{ num_required_by }})</summary>
                <ul class="compact">
                    {% for dep in required_by %}
                        <li>
                            <a href="{{ url_for('package', branch=branch, repo=dep.repo, arch=dep.arch, name=dep.name) }}">
                                {{ dep.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                </details>
            </td>
        </tr>
    {% endif %}
    {% if provides %}
        <tr>
            <th class="header">Provides</th>
            <td>
                <details>
                <summary>Provides</summary>
                <ul class="compact">
                    {% for p in provides %}
                        {% if p.operator %}
                            <li>{{ p.name }}{{ p.operator }}{{ p.version }}</li>
                        {% else %}
                            <li>{{ p.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </details>
            </td>
        </tr>
    {% endif %}
    {% if install_if %}
        <tr>
            <th class="header">Install if</th>
            <td>
                <details>
                <summary>Install if</summary>
                <ul class="compact">
                    {% for iif in install_if %}
                        {% if iif.operator %}
                            <li>{{ iif.name }}{{ iif.operator }}{{ iif.version }}</li>
                        {% else %}
                            <li>{{ iif.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </details>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th class="header">Subpackages ({{ num_subpackages }})</th>
        <td>
            <details>
            <summary>Subpackages</summary>
            <ul class="compact">
                {% for dep in subpackages %}
                    <li>
                        <a href="{{ url_for('package', branch=branch, repo=dep.repo, arch=dep.arch, name=dep.name) }}">
                            {{ dep.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </details>
        </td>
    </tr>
    <tr>
        <th class="header">Maintainer</th>
        <td>{{ pkg.mname }}</td>
    </tr>
    <tr>
        <th class="header">Build time</th>
        <td>{{ pkg.build_time }}</td>
    </tr>
    <tr>
        <th class="header">Commit</th>
        <td><a href="{{ git_url }}">{{ pkg.commit }}</a></td>
    </tr>
    <tr>
        <th class="header">Git repository</th>
        <td><a href="{{ repo_url }}">Git repository</a></td>
    </tr>
    <tr>
        <th class="header">Build log</th>
        <td><a href="{{ build_log_url }}">Build log</a></td>
    </tr>
    <tr>
        <th class="header">Contents</th>
        <td>
            <a href="/contents?name={{ pkg.name }}&repo={{ pkg.repo }}&branch={{ branch }}&arch={{ pkg.arch }}">
                Contents of package
            </a></td>
    </tr>
</table>
</main>
{% endblock %}
